.loginContainer {
  min-height: 80vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 40px;
}
.loginHeading {
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  width: 80%;
}
.LoginImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.signUpImg {
  background-color: #2142523b;
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.LoginInput {
  width: 80%;
}
.loginButton {
  width: 80%;
  height: 40px;
  background: #214252;
  color: #fff;
}
.signUptextP {
  font-size: 16px;
}
.SignUpText {
  color: #214252 !important;
}

/* Meadia screen */

@media (max-width: 987px) {
  .LoginInput,
  .loginHeading,
  .loginButton {
    width: 100%;
  }
}
